.search-bar {
    background-color: #F2CB05;
    border: 1px solid rgb(124, 0, 212);
    border-radius: 5px #F2B705;
    padding: 10px;
}

.search-bar form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(235, 235, 235);
    padding-bottom: 10px;
}

.searchInput{
    background-color: floralwhite;
    height: 25px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}